<div class="comment-box">
    <div>
        <span class="name"> <%= comment.name %> </span>
        -
        <span class="date"> <%= comment.date %> </span>
        <span class="actions">

        </span>
    </div>
    <p class="body"> <%= comment.body %> </p>
</div>